<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Flexyscore MK 2.0 - Basketball Scoreboard</title>
  <link rel='stylesheet' href='https://www.live.flexyscore.net/dirette/temp/css/completestyles/default.css'>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <!-- HERE the original HTML code of the BASKETBALL Scoreboard. 


!!!!------ REMEMBER --------!!!!
on Flexyscore 
YOU WILL NOT BE ABLE TO MODIFY HTML PART! -->
  <section id="boxes">
    <div class="container containerbasket">


      <div class="box secondliners boxbonus boxhomebonus boxbonuson" id="bonus_1">SATYA</div>
      <div class="box secondliners boxtimeouts boxhometimeouts" id="timeouts_1">30</div>

      <div class="box secondliners boxfouls boxhomefouls" id="fouls_1">00:12:56</div>

      <div class="box secondliners boxtimeouts boxawaytimeouts" id="timeouts_2">20</div>
      <div class="box secondliners boxbonus boxawaybonus boxbonuson" id="bonus_2">KRISHNA</div>
    </div>
  </section>
  <!-- partial -->

</body>

</html>