<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Fairly Colourful Profile Card</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>


<div class="row">
<div class="col-md-2"></div>
       <div class="col-md-3">
	
	<!-- CARD 1  -->
<div class="mycard">
  <div class="banner">    
  </div>
  <h2 class="name">M.S DHONI</h2>
  <div class="title">INDIA</div>
  <div class="actions">
    <div class="follow-info">
      <h2><a href="#"><small>MATCHES</small><span>120</span></a></h2>	  
      <h2><a href="#"><small>RUNS</small><span>3532</span></a></h2>
	  <h2><a href="#"><small>50'S</small><span>16</span></a></h2>
      <h2><a href="#"><small>100'S</small><span>4</span></a></h2>
    </div>
		
 <div class="follow-info">	
	  
      <h2><a href="#"><small>BAT AVG</small><span>34.77</span></a></h2>
      <h2><a href="#"><small>BEST</small><span>155</span></a></h2>
      <h2><a href="#"><small>S/R </small><span>89.98</span></a></h2>
	    </div>
		
 <div class="follow-info">	
      <h2><a href="#"><small>WIK</small><span>74</span></a></h2>
      <h2><a href="#"><small>4W</small><span>4</span></a></h2>
      <h2><a href="#"><small>CATCHES</small><span>66</span></a></h2>
    </div>
  </div>
</div>


	</div>






   <div class="col-md-2">
	
	</div>







    <div class="col-md-3">
	<!-- CARD 1  -->
<div class="mycard">
  <div class="banner">    
  </div>
  <h2 class="name">M.S DHONI</h2>
  <div class="title">INDIA</div>
  <div class="actions">
    <div class="follow-info">
      <h2><a href="#"><small>MATCHES</small><span>120</span></a></h2>	  
      <h2><a href="#"><small>RUNS</small><span>3532</span></a></h2>
	  <h2><a href="#"><small>50'S</small><span>16</span></a></h2>
      <h2><a href="#"><small>100'S</small><span>4</span></a></h2>
    </div>
		
 <div class="follow-info">	
	  
      <h2><a href="#"><small>BAT AVG</small><span>34.77</span></a></h2>
      <h2><a href="#"><small>BEST</small><span>155</span></a></h2>
      <h2><a href="#"><small>S/R </small><span>89.98</span></a></h2>
	    </div>
		
 <div class="follow-info">	
      <h2><a href="#"><small>WIK</small><span>74</span></a></h2>
      <h2><a href="#"><small>4W</small><span>4</span></a></h2>
      <h2><a href="#"><small>CATCHES</small><span>66</span></a></h2>
    </div>
  </div>
</div>

	</div>
  </div>






<!-- CARD 2  -->






<div class="col-md-2"></div>


</body>
</html>
